 .dashboard {
  background: url(../../assets/images/icons/dashboard.svg);
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}


.createJob {
  background: url(../../assets/images/icons/createJob.svg);
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.application {
  background: url(../../assets/images/icons/application.svg);
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.setting{
  background: url(../../assets/images/icons/setting.svg);
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.jobs{
  background: url(../../assets/images/icons/jobs.svg);
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.employees{
  background: url(../../assets/images/icons/employees.svg);
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.company{
  background: url(../../assets/images/icons/company.svg);
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}

.message{
  background: url(../../assets/images/icons/message.svg);
  height: 1.5em;
  width: 1.5em;
  background-position: center;
  background-size: cover;
}