<div class="container bg-white px-2 rounded nav-styling">
  <div class="row ms-4 mt-3 py-3 d-md-flex align-items-center">
    <div class="col-md-2">
      <a routerLink="/">
        <img
          src="../../assets/images/Career.logo.svg"
          class="img-fluid"
          alt="logo"
      /></a>
    </div>
    <div class="col-md-4 offset-md-2">
      <a
        href="#"
        class="text-decoration-none custom-link"
        routerLink="/jobListing"
        >Jobs</a
      >
      <a
        href="#"
        class="text-decoration-none ms-5 custom-link"
        routerLink="/companies"
        >Companies</a
      >
      <a
        href="#"
        class="text-decoration-none ms-5 custom-link"
        routerLink="/contact"
        >Contact</a
      >
    </div>
    <div class="col-md-3 offset-md-1">
      <button
        class="ms-4 px-3 py-2 rounded bg-transparent fw-bold registar-btn"
        data-bs-toggle="modal"
        data-bs-target="#registerModal"
      >
        Register
      </button>
      <button
        class="ms-3 px-3 py-2 border-0 rounded text-white fw-bold btns"
        routerLink="/signIn"
      >
        Sign In
      </button>
    </div>
  </div>
</div>
<!-- Register Modal -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header border-0 pb-2">
        <h5
          class="fw-bold custom-modal-title m-0 text-center"
          id="registerModalLabel"
        >
          Register As
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex gap-2 w-100">
          <button
            type="button"
            class="btn btn-outline flex-fill rounded-3 border border-1"
            routerLink="/registeryourself"
            data-bs-dismiss="modal"
          >
            Candidate
          </button>
          <button
            type="button"
            class="btn btn-outline flex-fill rounded-3 border border-1"
            routerLink="/registercompany"
            data-bs-dismiss="modal"
          >
            Company
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
