<div style="font-family: Playfair Display; " >
  <div  class="py-4 text-center  bgpink">
    <h1 class="fw-bold" style="color: #0d0125; font-size: 4.5em">
      {{ job?.companyName }}
    </h1>
    <p style="color: #0f1d1f; font-size: 1.1em">
      Emphasizes the value proposition for both job seekers and employers and
      the ultimate goal
    </p>
  </div>

  <!-- job Apply Box -->
  <div class="container">
    <div
      class="row mx-4 mt-3 px-3 py-2 rounded bgpink"
      style="box-shadow: 0 0 2px rgb(195, 192, 192); "
    >
    
      <div class="col-md-5 mt-2">
         <div class="d-flex align-items-center">
          <img
        
             [src]="job?.eLogo || '../../../../assets/images/companylogo.svg'"
            class="img-fluid  company-logo"
            alt="logo"
          />
          

          <h2 style=" font-size: 1.4em" class="ms-3 text-dark">
           
            {{job?.jobTitle}} 
            <br>
            <span class="text-dark small">{{job?.companyName}}</span>
           
          </h2>
        </div>
        <h2 style="color: #0d0125; font-size: 1.2em" class="ms-2 fw-bold"></h2>
        <div class="d-flex">
          <p
            class="px-3 py-2 border border-1 border-bgbrown"
            style="
           
              border-radius: 1.5em;
              color: #0f1d1f;
            "
          >
            {{ job?.experienceRange }} Years Experience
          </p>
          <p
            class="ms-3 px-3 py-2 border border-1 border-bgbrown"
            style="
           
              border-radius: 1.3em;
              color: #0f1d1f;
            "
          >
            {{ job?.jobTypeTitle }}
          </p>
          <p
            class="ms-3 px-3 py-2 border border-1 border-bgbrown"
            style="
              
              border-radius: 1.3em;
              color: #0f1d1f;
            "
          >
            {{ job?.jobSpaceTitle }}
          </p>
        </div>
       
      </div>
      <div class="col-md-4 offset-md-3 ps-5">
        <p class="ps-5 ms-4 text-dark" >
          <i class="bi bi-alarm"></i>
          <small class="ms-2" style="font-size: 1em">
            {{ job?.displayTime }}</small
          >
        </p>
        <p
          class=" fw-bold"
          style="color: #0d0125; font-size: 1.2em; margin-top: -0.6em"
        >
          Pkr {{ job?.salaryRange }} /Monthly
        </p>
        <p class="ps-5" style="color: #0f1d1f; margin-top: -0.3em">
          {{ job?.cityName }}
        </p>
        <div class="ms-4">
          <button
            class="px-3 py-2 ms-5 rounded border-0 bgbrown text-dark"
           
          (click)="goToApply(job.jobID)"
          >
            <!-- routerLink="/applyForm" -->
            Apply Now
          </button>
        </div>
      </div>
    </div>
    <!-- All requirments & Detail -->
    <div class="row mt-4">
      <div class="col-md-6">
     <h3 class="fw-bold" style="color: #192c2e">Responsibilities</h3>
   <ul style="font-size: 1.2em">
  <li *ngFor="let item of splitByDot(job?.responsibilities)">
    {{ item }}
  </li>
</ul>
        <!-- Requirments -->
       <h3 class="fw-bold" style="color: #192c2e">Requirements</h3>
<ul style="font-size: 1.2em">
  <li *ngFor="let item of splitByDot(job?.requirements)">
    {{ item }}
  </li>
</ul>
      </div>
      
      <!-- Preffered skills -->
      <div class="col-md-5 ms-4">
      
        <!-- <h3 class="fw-bold" style="color: #192c2e">Preferred Skills</h3>
        <div class="mt-4 d-flex flex-wrap gap-2">
          <span
            *ngFor="let skill of job?.skills"
            class="px-3 py-2 rounded ms-2"
            style="border: 1px solid rgb(182, 182, 182)"
          >
            {{ skill.skillName }}
          </span>
        </div> -->

        <!-- Benefits -->
        <h3 class="fw-bold mt-5" style="color: #192c2e">Benefits</h3>
        <div class="mt-4 d-flex flex-wrap gap-1">
          <span
            *ngFor="let benefit of job?.benefits"
            class="px-3 py-2 rounded ms-2 "
            style="border: 1px solid rgb(182, 182, 182)"
          >
            {{ benefit.benefitTitle }}
          </span>
        </div>
      </div>
    </div>
     <button class="btn text-dark mb-2 bgbrown"  routerLink="/jobListing" >
          Go back
        </button>
  </div>
</div>
<app-footer></app-footer>
