<div class="position-absolute dashborad-position">
  <div class="py-3 d-flex align-items-center justify-content-end bottom-border">
    <i class="bi bi-bell fs-4"></i>
    <div class="d-flex align-items-center profile-border px-2 py-1 ms-2">
      <img src="../../assets/images/profilePic.png" class="img-fluid" alt="" />
      <i class="bi bi-chevron-down ms-2 fs-5"></i>
    </div>
  </div>

  <!-- Alert Messages -->
  <div class="mt-3 px-5">
    <div
      *ngIf="errorMessage"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <strong>Error!</strong> {{ errorMessage }}
      <button
        type="button"
        class="btn-close"
        (click)="errorMessage = ''"
      ></button>
    </div>

    <div
      *ngIf="successMessage"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      <strong>Success!</strong> {{ successMessage }}
      <button
        type="button"
        class="btn-close"
        (click)="successMessage = ''"
      ></button>
    </div>
  </div>

  <!-- Create Jobs -->
  <div class="mt-3 px-5">
    <div>
      <h5 class="fw-bold">Create New Jobs</h5>
      <p class="add-you-job">Add your Job Details</p>
    </div>

    <form #jobForm="ngForm" (ngSubmit)="onSubmit()" class="row mt-4">
      <!-- Job Name -->
      <div class="col-md-6">
        <label for="jobName" class="d-block label-font">Job Name</label>
        <input
          type="text"
          class="form-control w-100 px-2 py-2 mt-2 label-font-input"
          id="jobName"
          placeholder="Enter Job Name"
          [(ngModel)]="jobTitle"
          name="jobTitle"
          required
        />
        <div *ngIf="fieldErrors['jobTitle']" class="text-danger small mt-1">
          {{ fieldErrors["jobTitle"] }}
        </div>
      </div>

      <!-- Job Category -->
      <!-- (change)="onJobChange($event)" -->
      <div class="col-md-6">
        <label for="categoryName" class="d-block label-font"
          >Job Category</label
        >

        <select
          name="categoryName"
          class="form-select w-100 px-2 py-2 mt-2 label-font-input"
          [(ngModel)]="selectedJob"
          required
        >
          <option [ngValue]="null" disabled>Select Job Category</option>
          <option *ngFor="let item of Job" [ngValue]="item.jobCategoryID">
            {{ item.jobCategoryTitle }}
          </option>
        </select>

        <!-- <select
        name="categoryName"
          class="form-select w-100 px-2 py-2 mt-2 label-font-input"
         [(ngModel)]="selectedJob"
          required
        >
          <option [value]="null" selected disabled>Select Job Category</option>
          <option *ngFor="let item of Job" [value]="item.jobCategoryID">
            {{ item.jobCategoryTitle }}
          </option>
        </select> -->
        <div *ngIf="fieldErrors['jobCategory']" class="text-danger small mt-1">
          {{ fieldErrors["jobCategory"] }}
        </div>
      </div>

      <!-- Job Type -->
      <!-- (change)="onJobType($event)" -->

      <div class="col-md-6 mt-3">
        <label for="jobType" class="d-block label-font">Type</label>
        <select
          name="jobType"
          class="form-select w-100 px-2 py-2 mt-2 label-font-input"
          required
          [(ngModel)]="selectedJobType"
        >
          <option [value]="null" disabled>Select Job Type</option>

          <option *ngFor="let item of JobType" [value]="item.jobTypeID">
            {{ item.jobTypeTitle }}
          </option>
        </select>
        <div *ngIf="fieldErrors['jobType']" class="text-danger small mt-1">
          {{ fieldErrors["jobType"] }}
        </div>
      </div>

      <!-- Work Space -->
      <div class="col-md-6 mt-3">
        <label for="workspaceType" class="d-block label-font"
          >Workspace Type</label
        >
        <!-- (change)="ongetWorkSpace($event)" -->
        <select
          name="workspaceType"
          class="form-select w-100 px-2 py-2 mt-2 label-font-input"
          [(ngModel)]="selectedWorkSpace"
          required
        >
          <option [value]="null" selected disabled>Select WorkSpace</option>
          <option *ngFor="let item of WorkSpace" [value]="item.jobSpaceID">
            {{ item.jobSpaceTitle }}
          </option>
        </select>
        <div *ngIf="fieldErrors['workspace']" class="text-danger small mt-1">
          {{ fieldErrors["workspace"] }}
        </div>
      </div>

      <!-- Experience Level -->
      <!-- (change)="onExperienceChange($event)" -->
      <div class="col-md-6 mt-3">
        <label for="experience" class="d-block label-font"
          >Experience Level</label
        >
        <select
          name="experience"
          class="form-select w-100 px-2 py-2 mt-2 label-font-input"
          [(ngModel)]="selectedExperience"
          required
        >
          <option [value]="null" selected disabled>Select Experience</option>
          <option *ngFor="let item of experience" [value]="item.experienceID">
            {{ item.experienceRange }}
          </option>
        </select>
        <div *ngIf="fieldErrors['experience']" class="text-danger small mt-1">
          {{ fieldErrors["experience"] }}
        </div>
      </div>

      <!-- Salary -->
      <div class="col-md-6 mt-3">
        <label for="salaryRange" class="d-block label-font">Salary Range</label>
        <input
          type="text"
          class="form-control w-100 px-2 py-2 mt-2 label-font-input"
          id="salaryRange"
          placeholder="600k-700k"
          [(ngModel)]="salaryRange"
          name="salaryRange"
          required
        />
        <div *ngIf="fieldErrors['salaryRange']" class="text-danger small mt-1">
          {{ fieldErrors["salaryRange"] }}
        </div>
      </div>

      <!-- Posting Date -->
      <div class="col-md-6 mt-3">
        <label for="postingDate" class="d-block label-font">Posting Date</label>
        <input
          type="date"
          class="form-control w-100 px-2 py-2 mt-2 label-font-input"
          id="postingDate"
          [(ngModel)]="postingDate"
          name="postingDate"
          required
        />
        <div *ngIf="fieldErrors['postingDate']" class="text-danger small mt-1">
          {{ fieldErrors["postingDate"] }}
        </div>
      </div>

      <!-- Expiry Date -->
      <div class="col-md-6 mt-3">
        <label for="expireDate" class="d-block label-font">Expiry Date</label>
        <input
          type="date"
          class="form-control w-100 px-2 py-2 mt-2 label-font-input"
          id="expireDate"
          [(ngModel)]="expireDate"
          name="expireDate"
          required
        />
        <div *ngIf="fieldErrors['expireDate']" class="text-danger small mt-1">
          {{ fieldErrors["expireDate"] }}
        </div>
      </div>

      <!-- Country -->
      <!-- (change)="onCountryChange($event)" -->
      <div class="col-md-6 mt-3">
        <label for="country" class="d-block label-font">Country</label>
        <select
          name="country"
          class="form-select w-100 px-2 py-2 mt-2 label-font-input"
          [(ngModel)]="selectedCountry"
          (change)="onCountryChange($event)"
          required
        >
          <option [value]="null" selected disabled>Select Country</option>
          <option *ngFor="let country of countries" [value]="country.countryID">
            {{ country.countryName }}
          </option>
        </select>
        <div *ngIf="fieldErrors['country']" class="text-danger small mt-1">
          {{ fieldErrors["country"] }}
        </div>
      </div>
      <!-- (change)="onCityChange($event)" -->
      <!-- City -->
      <div class="col-md-6 mt-3">
        <label for="city" class="d-block label-font">City</label>
        <select
          name="city"
          class="form-select w-100 px-2 py-2 mt-2 label-font-input"
          required
          [(ngModel)]="selectedCity"
        >
          <option [value]="null" selected disabled>Select City</option>
          <option *ngFor="let city of filteredCities" [value]="city.cityID">
            {{ city.cityName }}
          </option>
        </select>
        <div *ngIf="fieldErrors['city']" class="text-danger small mt-1">
          {{ fieldErrors["city"] }}
        </div>
      </div>

      <!-- Location -->
      <div class="col-md-12 mt-3">
        <label for="location" class="d-block label-font">Location</label>
        <input
          type="text"
          class="form-control w-100 px-2 py-2 mt-2 label-font-input"
          id="location"
          placeholder="Enter Location"
          [(ngModel)]="location"
          name="location"
          required
        />
        <div *ngIf="fieldErrors['location']" class="text-danger small mt-1">
          {{ fieldErrors["location"] }}
        </div>
      </div>

      <!-- Responsibilities -->
      <div class="col-md-12 mt-3">
        <label for="responsibilities" class="d-block label-font"
          >Responsibilities</label
        >
        <textarea
          class="form-control w-100 px-2 py-2 mt-2 label-font-input"
          id="responsibilities"
          placeholder="Enter Responsibilities"
          [(ngModel)]="responsibilities"
          name="responsibilities"
          required
          rows="3"
        ></textarea>
        <div
          *ngIf="fieldErrors['responsibilities']"
          class="text-danger small mt-1"
        >
          {{ fieldErrors["responsibilities"] }}
        </div>
      </div>

      <!-- Requirements -->
      <div class="col-md-12 mt-3">
        <label for="requirements" class="d-block label-font"
          >Requirements</label
        >
        <textarea
          class="form-control w-100 px-2 py-2 mt-2 label-font-input"
          id="requirements"
          placeholder="Enter Requirements"
          [(ngModel)]="requirements"
          name="requirements"
          required
          rows="3"
        ></textarea>
        <div *ngIf="fieldErrors['requirements']" class="text-danger small mt-1">
          {{ fieldErrors["requirements"] }}
        </div>
      </div>

      <!-- Education Requirements -->
      <!-- <div class="col-md-12 mt-3">
        <label for="educationReq" class="d-block label-font">Education Requirements</label>
        <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" 
          id="educationReq" placeholder="Enter Education Requirements" 
          [(ngModel)]="educationReq" name="educationReq" />
      </div> -->

      <!-- Preferred Skills -->
      <div class="mt-3">
        <label class="d-block label-font">Preferred Skills</label>
        <div *ngIf="fieldErrors['skills']" class="text-danger small mt-1">
          {{ fieldErrors["skills"] }}
        </div>
        <div class="skills-container mt-2">
          <span
            *ngFor="let skill of companyDomains"
            class="skill-tag flex-wrap"
            [class.selected]="selectedSkills.includes(skill.skillID)"
            (click)="toggleSkills(skill.skillID)"
          >
            {{ skill.skillName }}
          </span>
        </div>
      </div>

      <!-- Benefits -->
      <div class="my-3">
        <label class="d-block label-font">Benefits</label>
        <div *ngIf="fieldErrors['benefits']" class="text-danger small mt-1">
          {{ fieldErrors["benefits"] }}
        </div>
        <div class="skills-container mt-2">
          <span
            *ngFor="let item of benefits"
            class="skill-tag flex-wrap"
            [class.selected]="selectedBenefits.includes(item.benefitID)"
            (click)="toggleBenefits(item.benefitID)"
          >
            {{ item.benefitTitle }}
          </span>
        </div>
      </div>

      <div>
        <a href="#" class="new-benefit-color mt-4">Create new Benefits</a>
      </div>

      <!-- Submit Button -->
      <div class="mt-4 mb-3 d-flex justify-content-end">
        <button
          type="submit"
          class="px-4 py-2 border-0 btn-color text-white rounded"
          [disabled]="isLoading"
        >
          {{
            isLoading
              ? isEdit
                ? "Updating..."
                : "Posting..."
              : isEdit
              ? "Update Job"
              : "Post Job"
          }}
        </button>
      </div>
    </form>
  </div>
</div>
