<div class="position-absolute dashborad-position">
    <div class="py-3 d-flex align-items-center justify-content-end bottom-border">
        <i class="bi bi-bell fs-4"></i>
        <div class="d-flex align-items-center profile-border px-2 py-1 ms-2">
            <img src="../../assets/images/profilePic.png" class="img-fluid" alt="" />
            <i class="bi bi-chevron-down ms-2 fs-5"></i>
        </div>
    </div>
    <!-- Create Jobs -->
    <div class="mt-5 px-5">
        <div>
            <h5 class="fw-bold">Create New Jobs</h5>
            <p class="add-you-job">Add your Job Details</p>
        </div>

        <form action="" class="row mt-4">
            <div class="col-md-6">
                <label for="jobName" class="d-block label-font">Job Name</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="jobName"
                    placeholder="UI UX Designer" />
            </div>
            <div class="col-md-6">
                <label for="catagoryName" class="d-block label-font">Job Catagory</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="catagoryName"
                    placeholder="Design Field" />
            </div>

            <div class="col-md-6 mt-3">
                <label for="jobName" class="d-block label-font">Type</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="jobName"
                    placeholder="UI UX Designer" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="catagoryName" class="d-block label-font">Workspace Type</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="catagoryName"
                    placeholder="Design Field" />
            </div>

            <div class="col-md-6 mt-3">
                <label for="jobName" class="d-block label-font">Experience Level</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="jobName"
                    placeholder="UI UX Designer" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="catagoryName" class="d-block label-font">Salary Range</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="catagoryName"
                    placeholder="Design Field" />
            </div>

            <div class="col-md-6 mt-3">
                <label for="jobName" class="d-block label-font">Posting Date</label>
                <input type="date" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="jobName"
                    placeholder="22" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="catagoryName" class="d-block label-font">Expiry Date</label>
                <input type="date" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="catagoryName"
                    placeholder="Design Field" />
            </div>

            <div class="col-md-6 mt-3">
                <label for="jobName" class="d-block label-font">Country</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="jobName"
                    placeholder="UI UX Designer" />
            </div>
            <div class="col-md-6 mt-3">
                <label for="catagoryName" class="d-block label-font">City</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="catagoryName"
                    placeholder="Design Field" />
            </div>

            <div class="col-md-12 mt-3">
                <label for="catagoryName" class="d-block label-font">Location</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="catagoryName"
                    placeholder="Design Field" />
            </div>

            <div class="col-md-12 mt-3">
                <label for="catagoryName" class="d-block label-font">Responsibilities</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="catagoryName"
                    placeholder="Design Field" />
            </div>

            <div class="col-md-12 mt-3">
                <label for="catagoryName" class="d-block label-font">Requirments</label>
                <input type="text" class="form-control w-100 px-2 py-2 mt-2 label-font-input" id="catagoryName"
                    placeholder="Design Field" />
            </div>
        </form>
        <div class="mt-3">
            <p class="label-font">Preffered Skills</p>
            <span class="px-3 py-2 rounded preffered-skills">PHP</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">AWS</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">.NET</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Laraval</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Flutter</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">JAVA</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">React Native</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Python</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">UIUX</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Wordpress</span>
        </div>

        <div class="my-3">
            <p class="label-font">Benefits</p>
            <span class="px-3 py-2 rounded preffered-skills">5 days a week</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Paid time off</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Paid time off</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Profit Sharing</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Medical Insurance</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Foul Adjustments</span><br><br>
            <span class="px-2 py-2 rounded preffered-skills">Foul Adjustments</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Adjustments</span>
            <span class="px-3 py-2 rounded ms-2 preffered-skills">Adjustments</span>
        </div>
        <div ><a href="" class="new-benefit-color mt-4"> Create new Benefits</a></div>
        <div class="mt-4 mb-3 d-flex justify-content-end">
            <button class="px-4 py-2 border-0 btn-color text-white rounded" >Post Job</button>
        </div>
    </div>
</div>