<div class="mt-3 px-5">
  <div
    *ngIf="errorMessage"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>Error!</strong> {{ errorMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="errorMessage = ''"
    ></button>
  </div>

  <div
    *ngIf="successMessage"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success!</strong> {{ successMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="successMessage = ''"
    ></button>
  </div>
</div>

<!-- Create Jobs -->
<div class="mt-3 px-5">
  <div>
    <h5 class="fw-bold">Create New Jobs</h5>
    <p class="add-you-job">Add your Job Details</p>
  </div>

  <form #jobForm="ngForm" (ngSubmit)="onSubmit()" class="row mt-4">
    <!-- Row 1: Job Name, Job Category, Type -->
    <div class="col-md-4">
      <label for="jobName" class="d-block label-font mb-2">Job Name</label>
      <input
        type="text"
        class="form-control w-100 px-3 label-font-input"
        style="height: 42px;"
        id="jobName"
        placeholder="Enter Job Name"
        [(ngModel)]="jobTitle"
        name="jobTitle"
        required
      />
      <div *ngIf="fieldErrors['jobTitle']" class="text-danger small mt-1">
        {{ fieldErrors["jobTitle"] }}
      </div>
    </div>

    <div class="col-md-4">
      <label for="categoryName" class="d-block label-font mb-2">Job Category</label>
      <ng-select
        name="categoryName"
        [items]="Job"
        bindLabel="jobCategoryTitle"
        bindValue="jobCategoryID"
        placeholder="Select Job Category"
        [(ngModel)]="selectedJob"
        [searchable]="true"
        [clearable]="true"
        required
      >
      </ng-select>
      <div *ngIf="fieldErrors['jobCategory']" class="text-danger small mt-1">
        {{ fieldErrors["jobCategory"] }}
      </div>
    </div>

    <div class="col-md-4">
      <label for="jobType" class="d-block label-font mb-2">Type</label>
      <ng-select
        name="jobType"
        [items]="JobType"
        bindLabel="jobTypeTitle"
        bindValue="jobTypeID"
        placeholder="Select Job Type"
        [(ngModel)]="selectedJobType"
        [searchable]="true"
        [clearable]="true"
        required
      >
      </ng-select>
      <div *ngIf="fieldErrors['jobType']" class="text-danger small mt-1">
        {{ fieldErrors["jobType"] }}
      </div>
    </div>

    <!-- Row 2: Workspace Type, Experience Level, Salary Range -->
    <div class="col-md-4 mt-3">
      <label for="workspaceType" class="d-block label-font mb-2">Workspace Type</label>
      <ng-select
        name="workspaceType"
        [items]="WorkSpace"
        bindLabel="jobSpaceTitle"
        bindValue="jobSpaceID"
        placeholder="Select WorkSpace"
        [(ngModel)]="selectedWorkSpace"
        [searchable]="true"
        [clearable]="true"
        required
      >
      </ng-select>
      <div *ngIf="fieldErrors['workspace']" class="text-danger small mt-1">
        {{ fieldErrors["workspace"] }}
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <label for="experience" class="d-block label-font mb-2">Experience Level</label>
      <ng-select
        name="experience"
        [items]="experience"
        bindLabel="experienceRange"
        bindValue="experienceID"
        placeholder="Select Experience"
        [(ngModel)]="selectedExperience"
        [searchable]="true"
        [clearable]="true"
        required
      >
      </ng-select>
      <div *ngIf="fieldErrors['experience']" class="text-danger small mt-1">
        {{ fieldErrors["experience"] }}
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <label for="salaryRange" class="d-block label-font mb-2">Salary Range</label>
      <input
        type="text"
        class="form-control w-100 px-3 label-font-input"
        style="height: 42px;"
        id="salaryRange"
        placeholder="Enter salary Range"
        [(ngModel)]="salaryRange"
        name="salaryRange"
        required
      />
      <div *ngIf="fieldErrors['salaryRange']" class="text-danger small mt-1">
        {{ fieldErrors["salaryRange"] }}
      </div>
    </div>

    <!-- Row 3: Posting Date, Expiry Date, Country -->
    <!-- <div class="col-md-4 mt-3">
      <label for="postingDate" class="d-block label-font mb-2">Posting Date</label>
      <input
        type="date"
        class="form-control w-100 px-3 label-font-input"
        style="height: 42px;"
        id="postingDate"
        [(ngModel)]="postingDate"
        name="postingDate"
        required
      />
      <div *ngIf="fieldErrors['postingDate']" class="text-danger small mt-1">
        {{ fieldErrors["postingDate"] }}
      </div>
    </div> -->
     <div class="col-md-4 mt-3">
      <label for="postingDate" class="d-block label-font mb-2">
      Posting Date
      </label>
      <div class="date-input-wrapper">
        <input
          type="date"
          class="form-control date-input w-100 px-3 label-font-input"
          style="height: 42px;"
          id="postingDate"
          [min]="minPostingDate" 
          [(ngModel)]="postingDate"
          (change)="onPostingDateChange()"
      
          name="postingDate"
          required
        />
      </div>
      <div *ngIf="fieldErrors['postingDate']" class="text-danger small mt-1">
        {{ fieldErrors["postingDate"] }}
      </div>
    </div>

    <!-- <div class="col-md-4 mt-3">
      <label for="expireDate" class="d-block label-font mb-2">Expiry Date</label>
      <input
        type="date"
        class="form-control w-100 px-3 label-font-input"
        style="height: 42px;"
        id="expireDate"
        [(ngModel)]="expireDate"
        name="expireDate"
        required
      />
      <div *ngIf="fieldErrors['expireDate']" class="text-danger small mt-1">
        {{ fieldErrors["expireDate"] }}
      </div>
    </div> -->
     <div class="col-md-4 mt-3">
      <label for="expireDate" class="d-block label-font mb-2">
       Expiry Date
      </label>
      <div class="date-input-wrapper">
        <input
          type="date"
          class="form-control date-input w-100 px-3 label-font-input"
          style="height: 42px;"
          id="expireDate"
          [(ngModel)]="expireDate"
          [min]="minExpireDate"
          name="expireDate"
          required
        />
      </div>
      <div *ngIf="fieldErrors['expireDate']" class="text-danger small mt-1">
        {{ fieldErrors["expireDate"] }}
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <label for="country" class="d-block label-font mb-2">Country</label>
      <ng-select
        name="country"
        [items]="countries"
        bindLabel="countryName"
        bindValue="countryID"
        placeholder="Select Country"
        [(ngModel)]="selectedCountry"
        (change)="onCountryChangeNgSelect()"
        [searchable]="true"
        [clearable]="true"
        required
      >
      </ng-select>
      <div *ngIf="fieldErrors['country']" class="text-danger small mt-1">
        {{ fieldErrors["country"] }}
      </div>
    </div>

    <!-- Row 4: City, Location -->
    <div class="col-md-4 mt-3">
      <label for="city" class="d-block label-font mb-2">City</label>
      <ng-select
        name="city"
        [items]="filteredCities"
        bindLabel="cityName"
        bindValue="cityID"
        placeholder="Select City"
        [(ngModel)]="selectedCity"
        [searchable]="true"
        [clearable]="true"
        required
      >
      </ng-select>
      <div *ngIf="fieldErrors['city']" class="text-danger small mt-1">
        {{ fieldErrors["city"] }}
      </div>
    </div>

    <div class="col-md-8 mt-3">
      <label for="location" class="d-block label-font mb-2">Location</label>
      <input
        type="text"
        class="form-control w-100 px-3 label-font-input"
        style="height: 42px;"
        id="location"
        placeholder="Enter Location"
        [(ngModel)]="location"
        name="location"
        required
      />
      <div *ngIf="fieldErrors['location']" class="text-danger small mt-1">
        {{ fieldErrors["location"] }}
      </div>
    </div>

    <!-- Responsibilities (Full Width) -->
        <div class="col-md-12 mt-3">
      <label for="responsibilities" class="d-block label-font mb-2">Responsibilities</label>
      <textarea
        class="form-control w-100 px-3 py-2 label-font-input"
        style="min-height: 120px; resize: vertical;"
        id="responsibilities"
        placeholder="Enter Responsibilities"
        [(ngModel)]="responsibilities"
        name="responsibilities"
        required
        rows="5"
      ></textarea>
      <div
        *ngIf="fieldErrors['responsibilities']"
        class="text-danger small mt-1"
      >
        {{ fieldErrors["responsibilities"] }}
      </div>
    </div>

    <!-- Requirements (Full Width) -->
    <div class="col-md-12 mt-3">
      <label for="requirements" class="d-block label-font mb-2">Requirements</label>
      <textarea
        class="form-control w-100 px-3 py-2 label-font-input"
         style="min-height: 120px; resize: vertical;"
        id="requirements"
        placeholder="Enter Requirements"
        [(ngModel)]="requirements"
        name="requirements"
        required
        rows="5"
      ></textarea>
      <div *ngIf="fieldErrors['requirements']" class="text-danger small mt-1">
        {{ fieldErrors["requirements"] }}
      </div>
    </div>

    <!-- Preferred Skills -->
    <!-- <div class="mt-3">
      <label class="d-block label-font mb-2">Preferred Skills</label>
      <div *ngIf="fieldErrors['skills']" class="text-danger small mt-1">
        {{ fieldErrors["skills"] }}
      </div>
      <div class="skills-container mt-2">
        <span
          *ngFor="let skill of companyDomains"
          class="skill-tag flex-wrap"
          [class.selected]="selectedSkills.includes(skill.skillID)"
          (click)="toggleSkills(skill.skillID)"
        >
          {{ skill.skillName }}
        </span>
      </div>
    </div> -->

    <!-- Benefits -->
    <!-- <div class="my-3">
      <label class="d-block label-font mb-2">Benefits (optional)</label>
      <div *ngIf="fieldErrors['benefits']" class="text-danger small mt-1">
        {{ fieldErrors["benefits"] }}
      </div>
      <div class="skills-container mt-2">
        <span
          *ngFor="let item of benefits"
          class="skill-tag flex-wrap"
          [class.selected]="selectedBenefits.includes(item.benefitID)"
          (click)="toggleBenefits(item.benefitID)"
        >
          {{ item.benefitTitle }}
        </span>
      </div>
    </div> -->
      <div class="my-3 col-md-4">
      <label class="d-block label-font mb-2 ">Benefits (optional)</label>
      <ng-select
        name="benefits"
        [items]="benefits"
        bindLabel="benefitTitle"
        bindValue="benefitID"
        placeholder="Select Benefits"
        [(ngModel)]="selectedBenefits"
        [multiple]="true"
        [searchable]="true"
        [clearable]="true"
      >
      </ng-select>
      <div *ngIf="fieldErrors['benefits']" class="text-danger small mt-1">
        {{ fieldErrors["benefits"] }}
      </div>
      
     
    </div>
     <!-- Display selected benefits as tags -->
      <div class="skills-container mt-2" *ngIf="selectedBenefits && selectedBenefits.length > 0">
        <span
          *ngFor="let benefitID of selectedBenefits"
          class="skill-tag flex-wrap selected"
        >
          {{ getBenefitTitle(benefitID) }}
        </span>
      </div>

    <!-- Submit Button -->
    <div class="mt-4 mb-3 d-flex justify-content-end">
      <button
        type="submit"
        class="px-4 py-2 border-0 btn-color text-white rounded"
        [disabled]="isLoading"
      >
        {{
          isLoading
            ? isEdit
              ? "Updating..."
              : "Posting..."
            : isEdit
            ? "Update Job"
            : "Post Job"
        }}
      </button>
    </div>
  </form>
</div>