<div class="registration-container">
  <div class="registration-header">
    <h2>Register yourself</h2>
    <p>Enter Details to Apply for Job</p>
  </div>

  <div class="registration-body">
    <form>
      <!-- Logo Upload Section -->
      <div class="row mb-4">
        <div class="col-md-6 mb-3">
          <label class="form-label">Profile Image</label>

          <div class="upload-area" (click)="fileInput.click()">
            <!-- Show preview if file is selected -->
            <ng-container *ngIf="previewUrl; else uploadPlaceholder">
              <img
                *ngIf="isImage; else pdfBlock"
                [src]="previewUrl"
                alt="Preview"
              />
              <ng-template #pdfBlock>
                <div class="pdf-preview">
                  <i class="fas fa-file-pdf"></i> {{ selectedFile?.name }}
                </div>
              </ng-template>
            </ng-container>

            <!-- Placeholder when nothing is selected -->
            <ng-template #uploadPlaceholder>
              <div class="upload-icon">
                <i class="fas fa-cloud-upload-alt"></i>
              </div>
              <p>Drag & drop or click to upload</p>
              <p class="formats-note">Supported Formats: Pdf, Png, Jpg</p>
            </ng-template>
          </div>

          <!-- Hidden file input -->
          <input
            type="file"
            #fileInput
            style="display: none"
            accept=".pdf,.png,.jpg,.jpeg"
            (change)="onFileSelected($event)"
          />
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Upload Resume</label>
          <div class="upload-area" (click)="bannerInput.click()">
            <!-- Show preview if file is selected -->
            <ng-container *ngIf="bannerPreviewUrl; else bannerPlaceholder">
              <img
                *ngIf="isBannerImage; else bannerPdfBlock"
                [src]="bannerPreviewUrl"
                alt="Banner Preview"
              />
              <ng-template #bannerPdfBlock>
                <div class="pdf-preview">
                  <i class="fas fa-file-pdf"></i> {{ selectedBannerFile?.name }}
                </div>
              </ng-template>
            </ng-container>

            <!-- Placeholder when nothing is selected -->
            <ng-template #bannerPlaceholder>
              <div class="upload-icon">
                <i class="fas fa-cloud-upload-alt"></i>
              </div>
              <p>Drag & drop or click to upload</p>
              <p class="formats-note">Supported Formats: Pdf, Png, Jpg</p>
            </ng-template>
          </div>

          <!-- Hidden file input -->
          <input
            type="file"
            #bannerInput
            style="display: none"
            accept=".pdf,.png,.jpg,.jpeg"
            (change)="onBannerSelected($event)"
          />
        </div>

        <!-- Basic Information Section -->
        <!-- <h4 class="section-title">Basic Information</h4> -->
        <div class="row mb-4">
          <div class="col-md-4 mb-3">
            <label class="form-label">User Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter User Name"
              [(ngModel)]="userName"
              name="userName"
              required
              #userNameCtrl="ngModel"
            />
            <div
              *ngIf="userNameCtrl.invalid && userNameCtrl.touched"
              class="text-danger small"
            >
              User name is required
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">User CNIC</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter CNIC"
              [(ngModel)]="cnic"
              name="cnic"
              required
              minlength="13"
              maxlength="13"
              #cnicCtrl="ngModel"
              required
            />
            <div
              *ngIf="cnicCtrl.invalid && cnicCtrl.touched"
              class="text-danger small"
            >
              CNIC must be 13 digits
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label class="form-label">Profession</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter profession"
              [(ngModel)]="profession"
              name="profession"
              required
              #professionCtrl="ngModel"
            />
            <div
              *ngIf="professionCtrl.invalid && professionCtrl.touched"
              class="text-danger small"
            >
              Enter Profession
            </div>
          </div>
        </div>

        <!-- Location Information -->
        <!-- <h4 class="section-title">Location Information</h4> -->
        <div class="row mb-4">
          <div class="col-md-4 mb-3">
            <label class="form-label">Study Level </label>
            <select class="form-select" (change)="onStudyChange($event)">
              <option selected disabled>Select Study Level</option>
              <option
                *ngFor="let item of DegreeLevel"
                [value]="item.studyLevelID"
              >
                {{ item.studyLevelTitle }}
              </option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Experience</label>
            <select class="form-select" (change)="onExperienceChange($event)">
              <option selected disabled>Select Experience</option>
              <option
                *ngFor="let item of experience"
                [value]="item.experienceID"
              >
                {{ item.experienceRange }}
              </option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label class="form-label">Country</label>
            <select class="form-select" (change)="onCountryChange($event)">
              <option selected disabled>Select Country</option>
              <option
                *ngFor="let country of countries"
                [value]="country.countryID"
              >
                {{ country.countryName }}
              </option>
            </select>
          </div>
        </div>

        <!-- Contact Information -->
        <!-- <h4 class="section-title">Contact Information</h4> -->
        <div class="contact-info mb-4">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label">City</label>
              <select class="form-select" (change)="onCityChange($event)">
                <option selected disabled>Select City</option>
                <option
                  *ngFor="let city of filteredCities"
                  [value]="city.cityID"
                >
                  {{ city.cityName }}
                </option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label class="form-label">Contact No</label>
              <input
                type="text"
                class="form-control"
                placeholder="Phone number"
                [(ngModel)]="contactNo"
                name="contactNo"
                required
                #contactNoCtrl="ngModel"
              />
              <div
                *ngIf="contactNoCtrl.invalid && contactNoCtrl.touched"
                class="text-danger small"
              >
                Enter Contact Number
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">Address</label>
              <input
                type="text"
                class="form-control"
                placeholder="Address"
                [(ngModel)]="address"
                name="address"
                required
                #addressCtrl="ngModel"
              />
              <div
                *ngIf="addressCtrl.invalid && addressCtrl.touched"
                class="text-danger small"
              >
                Enter your Address
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label class="form-label">Gender</label>
              <select
                class="form-select"
                [(ngModel)]="selectedGender"
                name="gender"
              >
                <option [ngValue]="null" disabled>Select Gender</option>
                <option *ngFor="let g of genders" [value]="g.genderID">
                  {{ g.genderName }}
                </option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email address"
                [(ngModel)]="companyEmail"
                name="companyEmail"
                required
                email
                #emailCtrl="ngModel"
              />
              <div
                *ngIf="emailCtrl.invalid && emailCtrl.touched"
                class="text-danger small"
              >
                Enter a valid email address
              </div>
            </div>

            <!-- Account Security -->
            <!-- <h4 class="section-title">Account Security</h4> -->

            <div class="col-md-4 mb-3">
              <label class="form-label">Password</label>
              <div class="position-relative">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  [(ngModel)]="password"
                  name="password"
                  placeholder="Enter Password"
                  required
                  #passwordCtrl="ngModel"
                  (input)="checkPasswordMatch()"
                />
                <span
                  class="position-absolute top-50 end-0 translate-middle-y pe-3 cursor-pointer"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"
                  ></i>
                </span>
              </div>
              <div
                *ngIf="passwordCtrl.invalid && passwordCtrl.touched"
                class="text-danger small"
              >
                Enter your Password
              </div>
            </div>

            <!-- <div class="col-md-4 mb-3 position-relative">
              <label class="form-label">Password</label>
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                [(ngModel)]="password"
                name="password"
                placeholder="Enter Password"
                required
                #passwordCtrl="ngModel"
                (input)="checkPasswordMatch()"
              />
              <div
                *ngIf="passwordCtrl.invalid && passwordCtrl.touched"
                class="text-danger small"
              >
                Enter your Password
              </div>

              <span
                  class="input-group-text cursor-pointer"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"
                  ></i>
                </span>
            </div> -->
            <!-- <div class="col-md-4 mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="password"
                name="password"
                placeholder="Enter Password"
              />
            </div> -->
          </div>
          <!-- <div class="col-md-4 mb-3">
            <label class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              placeholder="Enter Confrim Password"
            />
          </div> -->

          <!-- <div class="col-md-4 mb-3 position-relative">
            <label class="form-label">Confirm Password</label>
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              class="form-control"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              placeholder="Enter Confirm Password"
              required
              #confrimpasswordCtrl="ngModel"
              (input)="checkPasswordMatch()"
            />
            <div
              *ngIf="confrimpasswordCtrl.invalid && confrimpasswordCtrl.touched"
              class="text-danger small"
            >
              Enter your Confrim Password
            </div>
            <i
              class="fas"
              [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="showConfirmPassword = !showConfirmPassword"
              style="
                position: absolute;
                top: 38px;
                right: 15px;
                cursor: pointer;
              "
            ></i>
          </div>
          <div *ngIf="passwordMismatch" class="text-danger small">
            Password and Confirm Password do not match
          </div> -->

          <div class="col-md-4 mb-3">
            <label class="form-label">Confirm Password</label>
            <div class="position-relative">
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                placeholder="Enter Confirm Password"
                required
                #confrimpasswordCtrl="ngModel"
                (input)="checkPasswordMatch()"
              />
              <span
                class="position-absolute top-50 end-0 translate-middle-y pe-3 cursor-pointer"
                (click)="toggleConfirmPasswordVisibility()"
              >
                <i
                  [class]="
                    showConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'
                  "
                ></i>
              </span>
            </div>
            <div
              *ngIf="confrimpasswordCtrl.invalid && confrimpasswordCtrl.touched"
              class="text-danger small"
            >
              Enter your Confirm Password
            </div>
            <div
              *ngIf="passwordMismatch && !confrimpasswordCtrl.invalid"
              class="text-danger small"
            >
              Password and Confirm Password do not match
            </div>
          </div>

          <!-- <div class="mb-4">
            <p class="form-label">Domains</p>
            <div class="skills-container">
              <span
                *ngFor="let domain of companyDomains"
                class="skill-tag flex-wrap"
                [class.selected]="selectedDomains.includes(domain.domainID)"
                (click)="toggleDomain(domain.domainID)"
              >
                {{ domain.domainTitle }}
              </span>
            </div>
          </div> -->

          <div class="col-md-4 mb-3">
            <div class="mb-4">
              <label class="form-label">Company Domains</label>

              <!-- Custom Multi-Select Dropdown -->
              <div
                class="custom-multiselect"
                (click)="$event.stopPropagation()"
              >
                <!-- Dropdown Input with name attribute -->
                <div class="dropdown-input-wrapper">
                  <input
                    type="text"
                    class="form-control dropdown-input"
                    [(ngModel)]="searchText"
                    name="searchText"
                    (ngModelChange)="onSearchChange()"
                    (click)="toggleDropdown(); $event.stopPropagation()"
                    (focus)="isDropdownOpen = true"
                    placeholder="Search and select domains..."
                    autocomplete="off"
                  />
                  <span
                    class="dropdown-arrow"
                    [class.open]="isDropdownOpen"
                    (click)="toggleDropdown()"
                    >▼</span
                  >
                </div>

                <!-- Dropdown List -->
                <div class="dropdown-list" *ngIf="isDropdownOpen">
                  <div class="dropdown-header">
                    <span
                      >{{ filteredDomains.length }} domain(s) available</span
                    >
                  </div>

                  <div class="dropdown-items">
                    <div
                      *ngFor="let domain of filteredDomains"
                      class="dropdown-item"
                      [class.selected]="isDomainSelected(domain.domainID)"
                      (click)="
                        toggleDomain(domain.domainID); $event.stopPropagation()
                      "
                    >
                      <input
                        type="checkbox"
                        [checked]="isDomainSelected(domain.domainID)"
                        (click)="$event.stopPropagation()"
                        readonly
                      />
                      <!-- <span class="domain-icon">🏢</span> -->
                      <span class="domain-title">{{ domain.domainTitle }}</span>
                      <span
                        class="checkmark"
                        *ngIf="isDomainSelected(domain.domainID)"
                        >✓</span
                      >
                    </div>

                    <!-- No Results -->
                    <div
                      class="no-results"
                      *ngIf="filteredDomains.length === 0"
                    >
                      <p>No domains found</p>
                    </div>
                  </div>
                </div>
              </div>

           

              <!-- Selected Count -->
              <small class="text-muted" *ngIf="selectedDomains.length > 0">
                {{ selectedDomains.length }} domain(s) selected
              </small>
            </div>
          </div>
        </div>
         
           <!-- Selected Tags Display -->
              <div
                class="selected-tags-container"
                *ngIf="selectedDomains.length > 0"
              >
                <span
                  *ngFor="let domain of getSelectedDomains()"
                  class="selected-tag"
                >
                  <!-- <span class="tag-icon">🏢</span> -->
                  {{ domain.domainTitle }}
                  <button
                    type="button"
                    class="remove-tag"
                    (click)="removeDomain(domain.domainID)"
                  >
                    ×
                  </button>
                </span>
              </div>

        <div *ngIf="successMessage" class="alert alert-success mt-3">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
        <!-- Form Actions -->
        <div class="d-flex justify-content-end gap-2 mt-0">
          <button type="button" class="btn btn-cancel">Cancel</button>
          <button type="button" class="btn btn-register" (click)="onRegister()">
            Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
