.active-link {
  background-color: var(--secondary); /* same as .nav-item-style */
  color: white !important;
}

.active-link i,
.active-link p {
  color: white !important;
}



.sidebar {
  height: 100vh;          /* full viewport height */
  overflow-y: auto;       /* enable vertical scroll */
  overflow-x: hidden;     /* hide horizontal scroll */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* optional: prettier scrollbars for Chrome/Edge */
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #888;
}