<div class="row">
    <div class="col-md-2 d-flex ms-2 justify-content-center right-border">  
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/images/Career.logo.svg" class="img-fluid mt-5" width="181px"  alt="">
            <div class=" mt-5">
                <a href="" class="d-flex align-items-center text-decoration-none px-3 rounded nav-item-style" routerLink="companyDashboard">
                    <i class="bi bi-house icon-size text-white" ></i>
                    <p class="mt-3 ms-3 text-white">Dashboard</p>
                </a>
                <a href="" class="d-flex align-items-center  text-decoration-none mt-2  px-3 rounded" routerLink="/createJobs">
                    <i class="bi bi-printer icon-size text-black"></i>
                    <p class="mt-3 ms-3 text-black">Create Jobs</p>
                </a>
                <a href="" class="d-flex align-items-center text-decoration-none mt-2 px-3 rounded" routerLink="/applications">
                    <i class="bi bi-printer icon-size text-black"></i>
                    <p class="mt-3 ms-3 text-black">Application</p>
                 </a>
                <a href="" class="d-flex align-items-center text-decoration-none mt-2 px-3 rounded" routerLink="/settings">
                    <i class="bi bi-gear icon-size text-black"></i>
                    <p class="mt-3 ms-3 text-black">Settings</p>
                </a>
            </div>
            <div class="top-margin mb-3" >
                <a href=""  class="d-flex align-items-center  text-decoration-none px-3 rounded" routerLink="/privacy">
                    <i class="bi bi-book-half icon-size text-black"></i>
                    <p class="mt-3 ms-3 text-black">Privacy Policy</p>
                </a>
                <a href="" class="d-flex align-items-center  text-decoration-none bg-danger px-3 rounded" routerLink="/signIn">
                    <i class="bi bi-box-arrow-right icon-size text-white"></i>
                    <p class="mt-3 ms-3 text-white">Logout</p>
                </a>
            </div>
        </div> 
    </div>
    
</div>