<div class="container dream-job-font" >
    <div>
        <div class="text-center job">
            <div class="d-flex justify-content-center">
                <img src="../../../assets/images/featured-icon.svg" class="img-fluid" alt="icon">
                <p style="font-size: 1.1em;" class="fw-bold mt-3 ms-2">Jobs</p>
            </div>
            <h2  class="fw-bold dream-job-header">Find Your Dream Job</h2>
        </div>
    </div>
    <app-job-display></app-job-display>
    <app-job-display></app-job-display>
    <app-job-display></app-job-display>
    <app-job-display></app-job-display>
    <app-job-display></app-job-display>

     <div class="text-center my-3" routerLink="/jobListing"><button class="text-white px-3 py-2 rounded border-0 more-jobs" >Browse More Jobs &nbsp; &#8594;</button></div>
</div>