<div class="dashborad-position">
  <div class="py-3 d-flex align-items-center justify-content-end bottom-border">
    <i class="bi bi-bell fs-4"></i>
    <div class="d-flex align-items-center profile-border px-2 py-1 ms-2">
      <img src="../../assets/images/profilePic.png" class="img-fluid" alt="" />
      <i class="bi bi-chevron-down ms-2 fs-5"></i>
    </div>
  </div>

  <div class="container my-3 px-4">
      <!-- Search Area -->

    <div class="box-border rounded">
      <div class="d-flex row align-items-center px-3 py-2">
        <p class="col-md-3 mt-2 custom-font mt-3">
          <a href="" class="me-3 text-black text-decoration-none">&#8592;</a
          >Applications &nbsp;<span class="fw-bold">/ Details</span>
        </p>
        <div
          class="col-md-4 offset-md-3 d-flex align-items-center dashboard-searchBox px-2 rounded"
        >
          <i class="bi bi-search fs-5"></i>
          <input
            type="search"
            class="border-0 ms-2 dashboard-input bg-transparent ps-2 py-2"
            placeholder="Search here..."
          />
          <img
            src="../../assets/images/Search Key.png"
            class="ms-5 img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-2">
          <button class="btn btn-border px-3">+ &nbsp; Add Group</button>
        </div>
      </div>
      
      <!-- Cards -->
       <div class="mt-4 mx-3 row">
         <div class="col-md-4 ">
            <div>

            </div>

         </div>
     
       </div>
      
    </div>
  </div>
</div>
